@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/roboto-v20-latin-300.woff2') format('woff2'), 
         url('../fonts/roboto-v20-latin-300.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'),
         url('../fonts/roboto-v20-latin-regular.woff') format('woff');
  }


  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), 
         url('../fonts/roboto-v20-latin-500.woff') format('woff');
  }


  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v20-latin-700.woff2') format('woff2'),
         url('../fonts/roboto-v20-latin-700.woff') format('woff');
  }

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    font-family: "Roboto";
}

body{
    margin: 0;
    padding: 0;
}

a{
    display: inline-block;
    text-decoration: none;
}

.container{
    width: 1150px;
    margin: 0 auto;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

@media only screen and (max-width: 1150px){
    html{
        width: 100%;
    }
    .container{
        width: 100%;
    }
}