.site-header {
  background-color: white;
  padding-top: 20px;
}
//start header-icons section

.header-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;
  a {
    border-radius: 5px;
    transition: box-shadow 0.3s ease;
  }
  a:hover {
    box-shadow: 0 0 8px 1px rgba($color: #706f6f, $alpha: 0.3);
  }
}

.call-box {
  display: flex;
  align-items: center;
  color: $global-color;

  img {
    padding-left: 7px;
  }
}

.icon-info {
  padding: 7px;
  h4,
  span {
    margin: 0;
    font-size: $small-size;
  }

  span {
    opacity: 0.8;
  }
}

.icon-item{
  height: 0;

  .icon-item-list{
    img{
      height: 0;
    }
  }
}

.name-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $active-color;
  padding: 3px;

  span {
    margin: 0;
    display: inline-block;
    font-size: $small-size;
  }
}

.name-img {
  display: flex;
  align-items: center;
  margin: 0;
}

.clock-box {
  display: flex;
  align-items: center;
  color: $global-color;

  img {
    padding-left: 7px;
  }
} //end header-icons section

// start header-nav-section
.nav-box {
  display: none;
}
.header-nav-section {
  .logo {
    display: none;
  }

  width: 100%;
  background-color: $active-color;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
  position: sticky;
  top: 10px;
  z-index: 10;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
}

.nav-list > a {
  color: $light-color;
  text-transform: capitalize;
  margin-right: 22px;
  font-size: $normal-size;
  padding: 7px;
  border-bottom: 2px solid transparent;
  transition: border 0.3s ease;
  opacity: 0.9;
}

.nav-list > a:hover {
  border-color: $light-color;
  opacity: 1;
}

.header-icon-list > a {
  margin-right: 12px;
}

@media only screen and (max-width: 1150px) {
  .header-nav-section {
    border-radius: 0px;
  }
  .site-header {
    padding: 0;
  }
  .header-icons {
    display: none;
  }
  .header-nav-section {
    .logo {
      display: block;
      color: $light-color;
      font-size: $normal-size;
      line-height: $normal-lh;
      transition: opacity 0.3s ease;

      span {
        color: $gold-color;
      }
    }

    .logo:hover {
      opacity: 0.8;
    }
  }
}

@media only screen and (max-width: 950px) {
  .header-nav-section {
    .logo {
      font-size: $normal-size2;
      line-height: $normal-lh2;
    }
  }

  .nav-list > a {
    font-size: $small-size2;
    padding: 4px;
    margin-right: 15px;
  }
}

@media only screen and (max-width: 750px) {
  .header-nav-section {
    .logo {
      font-size: $small-size;
      line-height: $normal-lh2;
    }
  }

  .nav-list > a {
    font-size: $small-size-m1;
    padding: 4px;
    margin-right: 13px;
  }

  .header-icon-list > a {
    .vk {
      height: 24px;
      width: 24px;
    }

    .ins {
      width: 15px;
      height: 15px;
    }

    .twt {
      width: 16px;
      height: 16px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .header-nav-section {
    position: relative;
    transform: translateY(-10px);
    padding: 5px 15px;
    width: 100%;

    .logo {
      font-size: $normal-size;
    }
  }
  .nav-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 25;
  }

  .line-box {
    width: 30px;
    height: 3px;
    background-color: $light-color;
    border-radius: 1px;
    margin-bottom: 5px;
    transition: transform 0.3s ease, background-color 0.2s;
  }

  .nav-item,
  .header-icon-item {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }

  .nav-item {
    left: 0;
    flex-direction: column;
    align-items: center;
  }
  .nav-list {
    width: 100%;
    z-index: 10;
  }
  .nav-list > a {
    margin: 0;
    font-size: 0;
    color: transparent;
    width: 100%;
    transition: padding 0.3s ease, color 0.3s ease;
    border: none;
  }
  .click-list{
    z-index: 30;
    top: 100%;
  }
  .click-list  {
    .nav-list >  a {
      padding: 23px 0;
      color: $gold-color;
      border: 1px solid #ffd600;
      font-size: $normal-size;
      font-weight: 500;
      display: inline-block;
      background-color: $active-color;
      text-align: center;
      opacity: 1;
      margin: 0;
    }

    a:hover{
      border: none;
    }
  }

  #icons{
    display: none;
  }

  .icon-item{
    width: 100%;
    background-color: $active-color;
    display: flex;
    justify-content: center;
    height: 0;
    transition: height 0.3s ease;

    .icon-item-list{
      margin: 0 5px;
      padding: 0;
      transition: padding 0.3s ease;

      img{
        height: 0;
      }
    }

  }

  .icon-click{
    height: auto;

    .icon-item-list{
      padding: 20px 0;

      img{
        height: auto;
      }
    }
  }


  .first-line{
    transform: rotate(45deg);
    position: absolute;
  }
  
  .second-line{
    background-color: transparent;
  }

  .threed-line{
    transform: rotate(-45deg);
    position: absolute;
  }
}
//end media max-width: 600

