.services-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../images/dp.png");
  background-size: 252px 136px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
  padding-top: 10px;

  h1 {
    font-size: $heading-size;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1::before{
      content: "";
      width: 50px;
      height: 5px;
      background-color: $gold-color;
      position: absolute;
      top: -15px;
      border-radius: 3px;
  }



  p {
    font-size: $normal-size;
    line-height: $normal-lh;
    width: 580px;
    text-align: center;
    opacity: 0.6;
    margin: 0;
    margin-top: 13px;
  }
}

.slider-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 44px;
}

.slider-btn {
  background: none;
  border: none;
  outline: none;
  border: 2px solid #1d6ecb;
  height: 42px;
  width: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

.slider-btn:hover{
   box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.3);
}

.slider-btn:active{
    opacity: 0.7;
 }
.silider-item {
  display: flex;
  list-style-type: none;
  padding: 0;
  width: 90%;
  justify-content: space-around;
  align-items: center;
}

.silider-list {
  width: 19%;
  height: 230px;
  box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: $light-color;
  transition: box-shadow 0.4s ease;
  position: relative;
  a {
    color: $global-color;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 20px;
    padding-top: 15px;
  }
}

.silider-list:hover{
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.3);
}

.img-box {
  width: 72px;
  height: 65px;
  display: flex;
  align-items: center;
  margin-bottom: 1px;
}

.silider-list1{
    width: 6%;
}

.list-heading{
    font-size: $normal-size;
    color: $global-color;
    font-weight: 400;
    width: 79px;
}

.price-box{
    position: absolute;
    bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;

    span{
        font-size: $normal-size;
        color: $active-color;
        font-weight: 500;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }

    span::before{
        content: "5000₽";
        font-size: $small-size2;
        color: #27272773;
        position: absolute;
        top: -25px;
    }
}

.price-box::before{
    content: "";
    height: 4px;
    width: 25px;
    background-color: $active-color;
    position: absolute;
    top: -45px;
}


@media only screen and (max-width: 900px){
    .services-box{
        width: 100%;
    }
    .silider-list:nth-child(4){
        display: none;
    }

    .silider-list{
        width: 24%;
    }

    .silider-list1{
        width: 8%;
    }
}

@media only screen and (max-width: 600px){
    .services-box{
        width: 100%;
        p{
            width: 90%;
        }
    }
    .silider-list:nth-child(3){
        display: none;
    }

    .silider-list{
        width: 40%;
    }

    .silider-list1{
        width: 8%;
    }
}

@media only screen and (max-width: 450px){
    .services-box{
       h1{
           font-size: $heading-size-m1;
       }
    }
    .silider-item{
        width: 80%;
        margin: 0 auto;
    }
    .silider-list:nth-child(2){
        display: none;
    }

    .silider-list{
        width: 65%;
    }

    .silider-list1{
        width: 13%;
    }

    .slider-btn{
        display: none;
    }
}