// media desktop

// colors
$global-color: #272727;
$active-color: #0055b8;
$light-color:  #ffffff;
$gold-color: #ffd600;
$light-gold-color:#ffe040;


//font-size

$small-size: 14px;
$small-size2: 15px;
$normal-size: 18px;
$normal-size2: 16px;
$big-heading-size: 48px;
$heading-size: 36px;


// line height
$big-heading-lh: 56px;
$heading-lh: 42px;
$normal-lh: 21px;
$normal-lh2: 19px;


// media query first 
// font size
$heading-size-m1: 30px;
$small-size-m1: 13px;


//line height
$heading-lh-m1: 35px;
$small-lh: 16px;


//media 600;

$heading-size-m2: 25px;
$heading-lh-m2: 28px;